@font-face {
  font-family: "Cambria";
  src: url(../font/Cambria-Bold.ttf);
} 

body {
	font-family: "Cambria"; 

}

.main-navbar {
	background-color: #fff;
	background-position: center;
	background-size: cover;
	height: 120px;
	padding: 20px 0;
	position: relative;
	transition: .1s;
	z-index: 13;
}
.nav-link {
	color: #000 !important;
}
.logo {
	width: 40%;
	line-height: 30px;
}
.page-cover {
	background-image: url('../assets/cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	width: 100%;
	height: 87.6vh;
	position: relative;
}
.cover-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}