@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-Regular.otf);
} 
@font-face {
  font-family: "Montserrateb";
  src: url(../font/Montserrat-ExtraBold.otf);
} 

body {
	font-family: Montserrat,sans-serif; 
  overflow-x: hidden;
}
footer {
	width: 100%;
	
}
.titless {
	font-family: 'Montserrateb';
}
.main-navbar {
	background-color: #fff;
	background-position: center;
	background-size: cover;
	height: 120px;
	padding: 20px 0;
	position: relative;
	transition: .1s;
	z-index: 13;
}
.nav-link {
	color: #000 !important;
}
.logo {
	width: 40%;
	line-height: 30px;
}
.page-cover {
	background-image: url('../assets/cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 87.6vh;
	position: relative;
}
.cover-text {
  position: absolute;
  top: 63%;
  left: 57%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.color-1 {
	background-color: #f5f5f5
}

.color-2 {
	background-color: #ffffff;
}




.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  width: 300px;
  height: auto;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
 
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-content {
  padding: 30px;
  
}
.title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #ff7f00;
  font-size: 20px;
  font-weight: 400;
}
.description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
.p1-post {
	padding-top: 5%;
	padding-bottom: 5%;
}


.nbtncenters:hover {
  color: #fff;
}
.nbtncenters::before, .nbtncenters::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.nbtncenters::before {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: scale3d(0, 1, 1);
}
.nbtncenters::after {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: scale3d(1, 0, 1);
}
.nbtncenters:hover::before, .nbtncenters:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
}

.nbtncenter:hover {
  color: #6477b9;
}
.nbtncenter::before, .nbtncenter::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.nbtncenter::before {
  border-top: 2px solid #6477b9;
  border-bottom: 2px solid #6477b9;
  transform: scale3d(0, 1, 1);
}
.nbtncenter::after {
  border-left: 2px solid #6477b9;
  border-right: 2px solid #6477b9;
  transform: scale3d(1, 0, 1);
}
.nbtncenter:hover::before, .nbtncenter:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
}
button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #ff7f00;
  color: #ff7f00;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
button::before, button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.team-member {
	font-size: 20px;
}
.team-card{
	border-radius: 5px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
	display: grid;
	align-items: center;
	width: 300px;
}
.team-img > img{
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	height: 250px; 

}
.team-con {
	background-color: #ffffff;
	padding: 20px;
}
.partners{
	padding: 30px; 
}
.pa-des {
	padding-top: 2%;
	padding-left: 10%;
	color: #707071;
}
.pa-logo {
	width: 240px;
	height: 145px;
}


footer {
  padding: 2rem 0;
  background-color: #212529;
}


ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fec503;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #1a1d20;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}


.swiper-container {
      width: 100%;
      height: 100%;
    }
.swiper-containers {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
    }